.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity=35);
	background-image: none;
}

.ui-state-disabled {
	cursor: default !important;
}

.ui-datepicker table {
	font-size: .9em;
	border-collapse: collapse;
}

.ui-widget-content {
	color: #222222;
}

.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}


